In [3]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'])
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [19]:
#use DataFrame.iloc select by positions:
#return the position of a column
print (df.columns.get_loc('a'))

0

In [21]:

df.iloc[0:2, df.columns.get_loc('a')] = 'good'
df.iloc[2:6, df.columns.get_loc('a')] = 'bad'
print (df)

      a  b  c
0  good  2  3
1  good  5  6
2   bad  8  9

In [30]:
list_1 = list(df.columns)
list_1

['a', 'b', 'c']

In [62]:
list_2 = df[0:4]
list_2

      a  b  c
0  good  2  3
1  good  5  6
2   bad  8  9

In [65]:
from collections import deque

In [66]:
pair = deque(2*[0],2)
pair

deque([0, 0], maxlen=2)

In [68]:
pair.appendleft(1)
pair

deque([1, 0], maxlen=2)

In [69]:
pair.appendleft(2)
pair

deque([2, 1], maxlen=2)

In [71]:
mylist= [1,2,3,4,5]
mylist.pop(3)
mylist

[1, 2, 3, 5]